.titlu {
    color: violet;
    margin: 0px auto;
    text-align: center;  
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
  } 
body {    
    background-color: black; 
} 
*::selection {
    background-color: pink;
    color: black;
}
#tries{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    text-align: center; 
}
#grapes{ 
    float:  right;
    width: 400px;
    height: 300px;
}
#cuprins{
    color: white;
    width: auto;
    height: auto;
    display: grid;
    font-size: 18px;
}
.titlu1{ 
    font-size: 25px; 
}
#nutella{
    width: 300px;
    height: 300px;
}
li,a{
    font-weight: 500;
    font-size: 18px;
    color: turquoise;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.navbar{
    padding: 10px;
    list-style: none;
    padding-left: 0px; 
} 
.navbar li{
    display: inline-block;
    padding: 0px 7px;
}
.navbar li a{
    transition: all 0.3s ease 0s;
}
.navbar li a:hover,.navbarlink:hover{
    color: pink;
}
.navbar li a:focus {
    color: papayawhip;
}
.navbarlink:active {
    color: peachpuff;
}
.navbarlink::before {
    content: "Sandu";
}
.navbarlink{
    padding: 9px 25px; 
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.container-header {
    text-align: center;
    color: white;
    font-size: 25px;
}
#bef::before {
    content: " simple";
    text-transform: uppercase;
    font-family: arial;
    color: pink;
    animation: word-switch 5s infinite;
}
@keyframes word-switch {
    0% {
        content: " simple";
    }
    50% {
        content: " great"
    }
    100% {
        content: " useful"
    }
}
#tried{
    margin: 20px;
    padding: 10px;
    background-color: pink;
}
.user-bar {
    background: turquoise;
    display: flex;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 17px;
  }

  .user-bar .hack {
    flex: 1;
    min-width: 0;
  } 
  html {
    font-size: 12px;
  }
 #touches{
    font-size: 23px;
 }


  .actions {
    display: flex;
  }
  
form{ 
    font-size: 15px; 
    color: white;
    padding: 0; 
}
#liked, #disliked{
    font-size: 15px;
    color: violet;
} 
 #feedback{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;  
 } 

  input {
    margin-bottom: 0;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
  }

#angry{
    font-size: 15px;
    color: white;
}